.rankImage{
    height: 50%;
    width: 100%;
}

.rankCard{
    height: 30vh;
    margin: 0.5vh;
    --bs-card-bg: #1e1e1e;
}
.rankCard:hover{
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    box-shadow: 5px 5px white;
    cursor: pointer;
}

.rankText{
    font-size: 1rem !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
}

.rankButton{
    --bs-btn-bg: #bb86fc !important;
    --bs-btn-border-color:#bb86fc !important;
    --bs-btn-hover-color:white !important;
    --bs-btn-hover-bg:#3700B3 !important;
    --bs-btn-hover-border-color:#3700B3 !important;
    --bs-btn-active-border-color: #3700B3 !important;
    --bs-btn-active-bg: #3700B3 !important;
}
